/* Large desktop */
@media (min-width: 1200px) {
    /* Code CSS here */
}

/*Ipad landscape*/
@media (min-width: 940px) and (max-width: 1170px) {


}
@media only screen and (max-width: 979px) {
	#header #search {
	bottom: -56px;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: inherit;
    width: 50%;
}
	#mainmenu {
		width: 100%;
	}
	
/*menu*/	
	.btn.btn-navbar {
		float: left;
		margin-left: 10px;
		margin-bottom: 3px;
		padding: 9px 8px;
	}
	.navbar-inner {
		padding : 0 ;
	}
	.navbar .btn-navbar {
		background: #181818;
	}
	.nav-collapse .megamenu:after {
		border-bottom: 10px solid #4a4646;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 16px;
		position: absolute;
		top: -15px;
	}
	.nav-collapse .megamenu:before {
		border-bottom: 11px solid rgba(225, 225, 225, 0.2);
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: "";
		display: inline-block;
		left: 15px;
		position: absolute;
		top: -16px;
	}
	.nav-collapse .megamenu {
		border-top: 5px solid #4a4646;
		border-right: none;
		border-left: none;
		border-bottom: none;
		box-shadow: 0 0 5px #999;
		border-radius: 0;
		background: #4a4646;
		margin: 10px 0 0!important;
	}
	.nav-collapse .nav li.homepage a {
	    background: none repeat scroll 0 0 transparent;
		display: block;
		overflow: hidden;
		padding-left: 0;
		text-indent: inherit;
		width: auto;
		padding-left: 15px;
	}
	.nav-collapse .nav > li{
		background: none;
	}
	.nav-collapse .nav > li > a{
		font-weight: normal;
		color: #CECFD4;
	}
	.nav-collapse .dropdown-menu {
		background: #fff;
	}
	.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus,
	 .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus,
	.nav-collapse .nav.megamenu  > li.open, .nav-collapse .nav.megamenu  > li:hover {
		background: none repeat scroll 0 0 #21A6DF;
	}
	.nav-collapse .dropdown-menu li a {
		color: #999;
		padding: 0;
		font-weight: normal;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #FFFFFF;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 17px;
		position: absolute;
		top: 50px;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #FFFFFF;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 17px;
		position: absolute;
		top: 50px;
	}
	.nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
		background: none!important;
	}
/*cart-top*/
 #cart {
		top: 5px;
	}

	
/*slideshow*/
	.pavcontentslider:hover .carousel-control {
		display:  none;
	}

/*produce*/
	.box-produce .product-inner .name {
    clear: both;
}
	.footer-top .row-fluid [class*="span"],
	.product-info .row-fluid [class*="span"]{
		width: 100%;
		margin-left: 0;
		display: inline-block;
	}
	.product-list .product-block .wishlist-compare {
		float: left;
	}
	.product-list .product-block .group-item {
		top: 72%;
	}
	#headertop .login{
    margin-left: 5px;
}
#headertop .links {
    margin-left: 0;
}
	
}
/*Ipad Portrait*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

	.header-right {
		width: 50%!important;
	}
}


/* Iphone 5 landscape */
@media only screen and (max-width: 767px) {
	#logo {
		text-align: center;
	}
	.header-right {
		margin: 0 30%;
	}

	 #cart {
    top: -30px;
}
	.box-produce .product-inner .name {
    clear: none;
}

	
	/*Table*/
    table{
        width:100%;
    }
    table .price{
        margin: 0;
    }
    table td, table th{
        display:block;
        float:none;        
        text-align: left !important;
        vertical-align: middle !important;
        overflow: hidden;
    }
    table.radio td, table.radio th {
    display: inline-block;
    overflow: visible;
}
    table td.image, table th.image{
        text-align: center !important;
    }
    table span.phone{
        color: #333333;
        font-size: 13px;
        float: left;        
    }
    table td .avg-right{
        text-align: right;
        float: right;
    }
    table td.quantity span.phone{
        padding: 5px 10px 0 0;
    }   
    table.radio tr td:first-child{
        width: auto;
    }
    .mini-cart-total table td, .mini-cart-total table th,
    .mini-cart-info table td, .mini-cart-info table th {
    	 display: inline-block;
        text-align: right!important;
    }
	
.mini-cart-info .image {
	width: 50px;
}
}
@media only screen and (min-width: 600px) and (max-width: 766px) {
	.product-related [class*="span"], .product-related .row-fluid [class*="span"],
	.product-grid [class*="span"], .product-grid .row-fluid [class*="span"],
	.box-product [class*="span"], .box-product .row-fluid [class*="span"] {
		float:  left;
		width: 31.9149%;
		margin-left:2.12766%;
	}
	.product-related .row-fluid [class*="span"]:first-child,
	.product-grid .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
}
 @media only screen and (max-width: 599px){
	  #search {
	    bottom: inherit;
	    line-height: normal;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    right: inherit;
	    top: inherit;
	    width: 82%;
	}
	.header-right {
		margin:  0;
		float:  left;
	}
	.cart-top.pull-right {
    float: left;
	}

 #search input {
    float: left;
}
	 #cart {
    top: inherit;
    margin-bottom: 10px;

	}
	.product-list .product-block .image {
		width: 100%;
	}
	.product-list .product-block .group-item {
	    background: none repeat scroll 0 0 #FFFFFF;
	    left: 0;
	    margin: 0 10px 10px;
	    position: relative;
	    top: inherit;
	    width: auto;
	}

.product-list .product-block .group-item .cart {
    display: inline-block;
    float: none;
    margin-top: 10px;
    width: auto;
}
}
 @media only screen and (min-width: 480px) and (max-width: 599px) {
}
@media only screen and (max-width: 480px){
	 #cart .content {
    min-width: 270px;
    right: -30px;
}
.jcarousel {
	display:  none;
}
.mini-cart-info .image {
	width: 1px;
}
#header #search {
 width: 70%;
 }
}
/* Iphone 4 landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {


}

/* Iphone 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	
}
}